<%= PlangaPhoenix.chat(
    %{
        public_api_id: "foobar",
        private_api_key: "iv3lCL2TgVG3skeVF4l5-Q",
        conversation_id: "general",
        current_user: %{
            id: 1235,
            name: "W-M",
            role: "moderator"
        },
        server_location: URI.to_string(%URI{PlangaWeb.Endpoint.struct_url | scheme: nil}), # <- Line only required if non-standard server location
    })
%>
