<%= PlangaPhoenix.chat(
    %{
        public_api_id: "foobar",
        private_api_key: "iv3lCL2TgVG3skeVF4l5-Q",
        conversation_id: "private/#{1234}#{4567}",
        current_user: %{
            id: "4567",
            name: "Rene"
        },
        # An example with the 'other users' field filled in:
        other_users: [
            %{id: "1234", name: "Wiebe-Marten"}
        ],
        server_location: "localhost:4000",
    })
%>
