<%= PlangaPhoenix.chat(
    %{
        public_api_id: "foobar",
        private_api_key: "iv3lCL2TgVG3skeVF4l5-Q",
        conversation_id: "general",
        current_user: %{
            id: "4567",
            name: "Rene"
        },
        server_location: "localhost:4000",
    })
%>
