<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Hello Plange!</title>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    </head>

    <body>
        <header class="ui menu">
            <a class="header item" href="/">
                Plange
            </a>
            <a class="item" href="/example">
                Chat1
            </a>
            <a class="item" href="/example2">
                Chat2
            </a>
        </header>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main" class="ui container">
            <%= render @view_module, @view_template, assigns %>
        </main>

            </div> <!-- /container -->
            <script src="<%= static_path(@conn, "/js/js_snippet.js") %>" type="text/javascript"></script>
    </body>
</html>
