/* This file is for your main application css. */
.planga--chat-container {
  margin-bottom: 50px; }

.planga--chat-messages {
  height: 400px;
  overflow-y: scroll;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.planga--chat-message {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  transition-duration: .3s; }

.planga--chat-message:hover {
  background-color: rgba(0, 0, 0, 0.08); }

.planga--chat-current-user-message .planga--chat-author-wrapper {
  color: green; }

.planga--chat-message-sent-at-wrapper {
  display: inline-block;
  font-size: 0.8em;
  opacity: 0.5;
  float: right;
  cursor: help; }

.planga--chat-author-wrapper {
  display: inline-block;
  min-width: 50px;
  font-weight: bold;
  text-align: right; }

.planga--chat-author-name::after {
  content: ":";
  display: inline-block;
  padding-left: 0.1em;
  padding-right: 0.5em; }

.planga--chat-message-content {
  display: inline-block;
  margin-left: 0px;
  word-break: break-all; }

.planga--new-message-field-wrapper {
  width: 100%;
  float: left; }

.planga--new-message-form {
  min-height: 33px; }

.planga--new-message-field {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.planga--new-message-submit-button {
  float: right;
  height: 33px;
  padding: 0px;
  box-sizing: border-box; }

.planga--new-message-submit-button {
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e2e2e2;
  color: #FFFFFF;
  background-color: #416dea; }
  .planga--new-message-submit-button:hover {
    transition: all 150ms linear;
    opacity: .85;
    color: #EEE;
    background-color: #215dca;
    opacity: 1; }
  .planga--new-message-submit-button:active {
    transition: all 150ms linear;
    opacity: .75;
    background-color: #114dba;
    opacity: 1; }
  .planga--new-message-submit-button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px; }
